primary-color = #ffbb00;
secondary-color = #383838;
light-text-color = #ffffff;
dark-text-color = #3b3b3b;

extra-color = #4a3100;

accent = #ffff00;
danger = #282828;
error = #9a0404;

fs-sm = 16px;
fs-md = 20px;
fs-lg = 24px;
fs-title = 26px;

media-m-min = 320px;
media-m-max = 767px;
media-t-min = 768px;
media-t-max = 1024px;
media-d-min = 1025px;
media-d-max = 2440px;