<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>MDC Rest</title>
    <style>
      @font-face {
        font-family: "GeometriaMedium";
        src: url(fonts/Geometria.otf);
        font-weight: normal;
        font-style: normal;
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong>Нажаль сайт не працює без ввімкненої підтримки JavaScript.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
