<template>
  <layout>
    <section class="search">
      <form class="search_form">
        <h2 class="search_title">Знайдіть пропозицію, яка Вам довподоби</h2>
        <b-row>
          <b-col sm="12" md="6">
            <b-form-group id="range"
                          label-for="range"
            >
              <search-form-date-picker id="check_in_date" @value.sync="checkInDate"></search-form-date-picker>
            </b-form-group>
          </b-col>
          <b-col sm="12" md="6">
            <b-form-select v-model="peopleCount" :options="peopleOptions" class="mb-3" />
          </b-col>
        </b-row>
        <b-row>
          <b-col sm="12" md="6">
            <b-form-select v-model="roomsCount" :options="roomsOptions" class="mb-3" />
          </b-col>
          <b-col sm="12" md="6">
            <b-form-checkbox id="checkbox1"
                             v-model="hasChildren"
                             value="with_children"
                             unchecked-value="without_children">
              З дітьми
            </b-form-checkbox>
          </b-col>
        </b-row>
        <b-row>
          <b-button :size="'md'" class="signup_form-submit" :variant="'secondary'" @click="submitSearch">
            Шукати
          </b-button>
        </b-row>
      </form>
    </section>
  </layout>
</template>

<script>
import SearchFormDatePicker from '@/components/datepicker/SearchFormDatePicker'
import Layout from '@/components/Layout'

export default {
  name: 'home',
  components: {
    Layout,
    SearchFormDatePicker
  },
  data () {
    return {
      checkInDate: null,
      checkOutDate: null,
      peopleCount: 1,
      hasChildren: 'without_children',
      roomsCount: 1,
      peopleOptions: [
        { value: 1, text: '1 людина' },
        { value: 2, text: '2 людини' }
      ],
      roomsOptions: [
        { value: 1, text: '1 кімната' },
        { value: 2, text: '2 кімнати' },
        { value: 3, text: '3 кімнати' },
        { value: 4, text: '4 кімнати' },
        { value: 5, text: '5 кімнат' },
        { value: 6, text: '6 кімнат' },
        { value: 7, text: '7 кімнат' },
        { value: 8, text: '8 кімнат' },
        { value: 9, text: '9 кімнат' },
        { value: 10, text: 'Весь готель', }
      ]
    }
  },
  methods: {
    submitSearch () {
      console.log(`${this.startDate} ${this.peopleCount} ${this.hasChildren} ${this.roomsCount}`)
      if (this.checkInDate && this.checkOutDate) {

      }
    }
  }
}
</script>
<style lang="stylus">
  @import '../styles/variables.styl'
  .search {
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: start;
    align-items: center;

    @media (max-width: media-t-min) {
      justify-content center;
    }

    &_title {
      text-align: left;
      color: extra-color

      @media (max-width: media-t-min) {
        text-align: center;
      }
    }
    &_form {
      margin-left: 50px;
      min-width: 600px;
      min-height: 30px;
      background: primary-color;
      border-radius: 10px;
      padding: 30px;

      @media (max-width: media-t-max) {
        margin-left: 0;
        padding: 20px;
      }

      @media (max-width: media-m-max) {
        min-width: 300px;
        width: 300px;
        padding: 10px;
        margin: 0;
      }

      &-submit {
        margin-left: auto;

        @media (max-width: media-m-max) {
          margin: 0 auto;
        }
      }
    }
  }
</style>
