<template>
  <layout>
    <section class="login">
      <form class="login_form">
        <h2 class="login_title">Вхід</h2>

        <b-form-group id="phone-number"
                      label-for="phone_number"
                      description="Вся інформація абсолютно конфіденційна">
          <b-form-input id="phone_number"
                        type="text"
                        v-mask="'+##-(###)-###-##-##'"
                        v-model="phone_number"
                        :state="!errors.has('phoneNumber')"
                        v-validate="'required|min:13'"
                        data-vv-delay="500"
                        data-vv-name="phoneNumber"
                        required
                        placeholder="Телефон">
          </b-form-input>
        </b-form-group>
        <b-button :size="'md'" :variant="'secondary'" @click="submitPhone">
          Надіслати
        </b-button>

      </form>
    </section>
  </layout>
</template>

<script>
import Layout from '@/components/Layout';

export default {
  name: 'login',
  components: {
    Layout
  },
  data () {
    return {
      phone_number: '+38'
    }
  },
  methods: {
    submitPhone () {
      console.log('phone number', this.phone_number);
      this.$validator.validateAll().then((result) => {
        console.log('result', result);
        if (!result) return;

      });
    }
  }
}
</script>
<style lang="stylus">
  @import '../styles/variables.styl'
  .login {
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;

    &_form {
      margin-left: 50px;
      min-width: 300px;
      min-height: 30px;
      background: rgba(255, 255, 255, 0.6);
      border-radius: 10px;
      padding: 30px;


      @media (max-width: media-t-max) {
        margin-left: 0;
        padding: 10px;
      }
    }
  }
</style>
