<template>
  <layout>
    <section class="signup">
      <form class="signup_form">
        <h2 class="signup_title">Реєстрація</h2>
        <b-row>
          <b-col sm="12" md="6">
            <b-form-group id="first_name"
                          label-for="first_name"
            >
              <b-form-input id="first_name"
                            type="text"
                            v-model="firstName"
                            :state="!errors.has('firstName')"
                            v-validate="'required'"
                            data-vv-delay="400"
                            data-vv-name="firstName"
                            required
                            placeholder="Ім'я">
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="12" md="6">
            <b-form-group id="last_name"
                          label-for="last_name"
            >
              <b-form-input id="last_name"
                            type="text"
                            v-model="lastName"
                            required
                            placeholder="Прізвище">
              </b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col sm="12" md="6">
            <b-form-group id="date_of_birth"
                          label-for="date_of_birth"
            >
              <sign-up-date-picker id="date_of_birth" @value.sync="dateOfBirth"></sign-up-date-picker>
              </b-form-group>
          </b-col>
          <b-col sm="12" md="6">
            <b-form-group id="phone-number"
                          label-for="phone_number"
            >
              <b-form-input id="phone_number"
                            type="text"
                            v-mask="'+##-(###)-###-##-##'"
                            v-model="phoneNumber"
                            :state="!errors.has('phoneNumber')"
                            v-validate="'required'"
                            data-vv-delay="400"
                            data-vv-name="phoneNumber"
                            required
                            placeholder="Телефон">
              </b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col sm="12" md="6">
            <b-form-group id="city" label-for="city">
              <b-form-input id="city"
                            type="text"
                            v-model="city"
                            :state="!errors.has('city')"
                            v-validate="'required'"
                            data-vv-delay="400"
                            data-vv-name="city"
                            required
                            placeholder="Місто">
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="12" md="6">
            <b-form-group id="church_union"
                          label-for="church_union"
            >
              <b-form-input id="church_union"
                            type="text"
                            :state="!errors.has('phoneNumber')"
                            v-validate="'required'"
                            data-vv-delay="400"
                            data-vv-name="phoneNumber"
                            v-model="churchUnion"
                            required
                            placeholder="Об'єднання церков">
              </b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
       <b-row>
        <b-button :size="'md'" class="signup_form-submit" :variant="'secondary'" @click="signUpSubmit">
          Зареєструватися
        </b-button>
       </b-row>
      </form>
    </section>
  </layout>
</template>

<script>
import SignUpDatePicker from '@/components/datepicker/SignUpDatePicker'
import Layout from '@/components/Layout'

export default {
  name: 'Signup',
  components: {
    Layout,
    SignUpDatePicker
  },
  data () {
    return {
      firstName: '',
      lastName: '',
      dateOfBirth: '01-01-2000',
      city: '',
      churchUnion: '',
      phoneNumber: '+38'
    }
  },
  methods: {
    signUpSubmit () {
      this.$validator.validateAll().then((result) => {
        console.log('result', result);
        if (!result) return;

      });
    }
  }
}
</script>
<style lang="stylus">
  @import '../styles/variables.styl'
  .signup {
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;

    &_title {
      text-align: left;

      @media (max-width: media-t-min) {
        text-align: center;
      }
    }
    &_form {
      margin-left: 50px;
      min-width: 600px;
      min-height: 30px;
      background: rgba(255, 255, 255, 0.6);
      border-radius: 10px;
      padding: 30px;

      @media (max-width: media-t-max) {
        margin-left: 0;
        padding: 20px;
      }

      @media (max-width: media-m-max) {
        min-width: 300px;
        width: 300px;
        padding: 10px;
      }

      &-submit {
        margin-left: auto;

        @media (max-width: media-m-max) {
          margin: 0 auto;
        }
      }
    }
  }
</style>
