<template>
  <div class="layout">
    <header class="layout_header header">
      <router-link to="/" tag="h1" class="header-logo">
        Кімнати відпочинку МДЦ
      </router-link>
      <nav class="header_navigation" id="nav">
        <router-link to="/signup" class="header_navigation-link">Зареєструватися</router-link>
        <router-link to="/login" class="header_navigation-link">Увійти в аккаунт</router-link>
      </nav>
      <a @click="toggleMenu" class="header_navigation-burger-btn header_navigation-link">
        =
      </a>
    </header>
    <section v-if="isMenuOpen" class="header_navigation-mobile">
      <nav class="header_navigation-mobile-links">
        <router-link to="/signup" class="header_navigation-link">Зареєструватися</router-link>
        <router-link to="/login" class="header_navigation-link">Увійти в аккаунт</router-link>
      </nav>
    </section>
    <main class="layout_content" :class="{'navigation-menu-open': isMenuOpen}">
      <slot></slot>
    </main>
    <footer class="layout_footer footer">
      <p class="footer_message">Звертайтесь, якщо виникли будь-які запитання:
        <a href="tel:+380679129277" class="footer_phone">+38 (067) 912 92 77</a>
        <a href="tel:+380679129277" class="footer_phone">+38 (073) 404 08 77</a>
      </p>
    </footer>
    <section class="mobile_navigation" v-if="isMenuOpen"></section>
  </div>
</template>

<script>
export default {
  name: 'Layout',
  data () {
    return {
      isMenuOpen: false
    }
  },
  methods: {
    toggleMenu () {
      this.isMenuOpen = !this.isMenuOpen;
    }
  },
  beforeRouteUpdate (to, from, next) {
    this.isMenuOpen = false;
    next();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus" scoped>
  @import '../styles/variables'
  .layout {
    position: relative;
    background: url('/img/background.jpg') no-repeat 100% 100%;
    background-size: cover;
  }
  .header {
    top: 0;
    position: fixed;
    z-index: 1000;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 10px 10px;
    min-height: 75px;

    @media (max-width: media-m-max) {
      min-height: 50px;
      padding: 0 5px;
    }

    &-logo {
      margin: 0;
      padding-left: 20px;
      margin-right: auto;
      text-decoration: none;
      color: secondary-color;
      cursor: pointer;

      @media (max-width: media-m-max) {
        font-size: fs-sm;
        padding-left: 0;
        margin: 0 0 0 5px;
      }

      @media (max-width: media-t-max) {
        font-size: fs-sm;
        padding-left: 0;
      }
    }
    &_navigation {
      margin-left: auto;
      padding-right: 10px;

      @media (max-width: media-m-max) {
        display: none;
      }
      &-link {
        text-decoration: none;
        color: white;
        background: secondary-color;
        padding: 5px 15px;
        font-size: fs-md;
        margin: 0 10px;
        border-radius: 7px;
        border: 1px solid transparent;
        transition: all .2s ease-in-out;

        @media (max-width: media-t-max) {
          font-size: fs-sm;
          padding: 5px 10px;
          display: inline-flex;
          margin: 10px;
        }

        &:hover, &:focus {
          background: lighten(secondary-color, 80);
          color: secondary-color;
          border: 1px solid secondary-color;
        }
      }

      &-burger-btn {
        display: none;
        color: white;

        @media (max-width: media-m-max) {
          display: inline-flex;
          margin-left: auto;
        }
      }

      &-mobile {
        position: absolute;
        z-index: 100;
        width: 100%;
        background: white;
        border-top: 1px solid secondary-color;
        padding: 20px;
        max-width: 100%;
      }

    }
  }
  .layout_content {
    margin-top: 75px;
    min-height: calc(100vh - 75px);
    @media (max-width: media-m-max) {
      margin-top: 50px;
      min-height: calc(100vh - 140px);
    }
  }

  .layout_footer {
    position: absolute;
    width: 100%;
    bottom: 25px;
    @media (max-width: media-t-max) {
      bottom: 10px;
      position: relative;
    }

    @media (max-width: media-m-max) {
      bottom: 10px;
      position: relative;
    }
  }

  .footer {
    text-align: center;
    color: white;

    &_message {
      font-size: fs-lg;
      margin: 0;

      @media (max-width: media-t-max) {
        font-size: ;
      }

      @media (max-width: media-m-max) {
        font-size: fs-sm;
      }
    }
    &_phone {
      display: inline;
      margin-left: 10px;
      text-decoration: none;
      color: light-text-color;
      cursor: pointer;

      @media (max-width: media-m-max) {
        display: block;
      }
    }
  }
</style>
