<template>
  <date-picker v-model="dateOfBirth" input-class="form-control" format="DD-MM-YYYY" :width="'100%'" not-after="01-01-2000" :lang="lang" :first-day-of-week="1"></date-picker>
</template>

<script>
import DatePicker from 'vue2-datepicker'

export default {
  name: 'home',
  components: {
    DatePicker
  },
  props: {
    value: {
      type: String
    }
  },
  data () {
    return {
      dateOfBirth: null,
      lang: {
        days: ['Нд', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
        months: ['Січ', 'Лют', 'Бер', 'Кві', 'Тра', 'Чер', 'Лип', 'Сер', 'Вер', 'Жов', 'Лис', 'Гру'],
        pickers: ['наступні 7 днів', 'наступні 30 днів', 'попередні 7 днів', 'попередні 30 днів'],
        placeholder: {
          date: 'Обрати дату народження',
          dateRange: 'Обрати ранг'
        }
      }
    }
  },
  methods: {
    updateDate () {

    }
  },
  watch: {
    dateOfBirth (newVal) {
      this.$emit('update:value', newVal);
    }
  }
}
</script>
<style lang="stylus">
  @import '../../styles/variables.styl'
</style>
