<template>
  <div id="app">
    <router-view/>
  </div>
</template>
<style lang="stylus">
@import 'styles/variables.styl'

* {
  box-sizing: border-box;
}

#app
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  color secondary-color
</style>
